<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_for @user do |form| %>
  <div class="container">
    <div class="row d-flex flex-column">
      <div class="col">
        <div class="mb-3 w-50">
          <%= form.label :email, "E-mail:", class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
          <% @user.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="col">
        <div class="mb-3 w-50">
          <%= form.label :password, "Password:", class: "form-label" %>
          <%= form.password_field :password, class: "form-control" %>
          <% @user.errors.full_messages_for(:password).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="mb-3 w-50">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
