<%= form_for @rent do |form| %>
    <div class="container mx-auto w-50">
    <div class="row d-flex flex-column">
    <div class="col">
    <div class="mb-3 w-50">
      <%= form.label :begin, "Begin:", class: "form-label" %>
      <%= form.date_field :begin, class: "form-control" %>
      <% @rent.errors.full_messages_for(:begin).each do |message| %>
            <div><%= message %></div>
      <% end %>
    </div>
    </div>
    
    <div class="col">
    <div class="mb-3 w-50">
        <%= form.label :end, "End:", class: "form-label" %>
        <%= form.date_field :end, class: "form-control" %>
        <% @rent.errors.full_messages_for(:end).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    </div>
    <div class="col">
        <div class="mb-3 w-50">
            <%= form.label :user, "User:", class: "form-label" %>
            <%= collection_select(:user, :user, User.all, :id, :name, {:prompt=> "Select a user"}, {class: 'form-select'})  %>
            <% @rent.errors.full_messages_for(:user).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    </div>
    <div class="col">
        <div class="mb-3 w-50">
            <%= form.label :car, "Car:", class: "form-label" %>
            <%= collection_select(:car, :car, Car.all, :id, :car_name, {:prompt=> "Select a car"}, {class: 'form-select'})  %>
            <% @rent.errors.full_messages_for(:car).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    </div>
    <div class="col d-flex justify-content-end">
    <div class="mb-3 w-50">
        <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
    </div>
    
    </div>
    </div>

<% end %>
