<div class="container">
    <div class="row w-100 mx-auto">
        <ul class="list-group">
            <% @cars.each do |car| %>
                <li class="d-flex flex-row list-group-item justify-content-center align-items-center"> 
                    <% car.images.each do |image| %>
                        <%= image_tag url_for(image), class: 'img-fluid', :style => "width:300px;height:auto;border-radius:15px;" %>
                    <% end %>
                    <%= car.name %> 
                    <%= car.brand %> 
                    <%= car.model %> 
                    <%= car.case_type %> 
                    <%= car.km %>
                    <%= car.seat %>
                    <%= car.ac %>
                    <%= car.gear %>
                    <%= car.fuel %>
                    <%= car.price %>
                    <%= link_to car.user.name, user_path(car.user), method: 'get' %>
                    <%= button_to 'Edit', edit_car_path(car), method: 'get', class: 'btn btn-primary ms-2 me-2' %> 
                    <%= button_to 'Delete', car_path(car), method: 'delete', class: 'btn btn-danger me-2 ml-2' %>
                    <%= button_to 'Car Detail', car_path(car), method:'get', class: 'btn btn-info text-white' %> 
                </li>
            <% end %>
        </ul>
        <div class="col text-end mt-3">
          <%= link_to 'Add a New Car', new_car_path, class: 'btn btn-primary btn-sm', style: 'width:10rem;' %>
        </div>
    </div>
</div>
